[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ics = "*"
beautifulsoup4 = "*"
markdownify = "*"

[dev-packages]

[requires]
python_version = "3.9"
